
.card-container{
    position: relative;
}

.card-container > img{
    position: absolute;
    bottom: 12px;
    right: 8px;
}


.agent-card-outline{
    display: inline-block;

    position: relative;

    width: 170px;
    height: 170px;

    background: var(--white);
    clip-path: polygon(6.5% 0%, 100% 0, 100% 100%, 0 100%, 0% 7%);

    transition: 1s ease transform;
}

.agent-card-body{
    position: absolute;    

    top: 2px; 
    left: 2px;

    width: 166px;
    height: 166px;

    clip-path: polygon(6.5% 0%, 100% 0, 100% 100%, 0 100%, 0% 7%);

    background-color: var(--red-light);

}

.agent-card-outline:hover{
    cursor: pointer;
    transform: translate(-8px, -7px);
}

.agent-card-name{
    font-family: var(--font-drukwide);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.1em;
    
    color: var(--red-light);

    position: absolute;

    margin: 0 auto;

    bottom: -26px;
    left: 0;
    right: 0;
}